<div class="container-fluid">
	<div class="row">
		<div class="pull-right">
		  	<div
			  class="fb-like"
			  data-send="true"
			  data-width="450"
			  data-show-faces="true">
				</div>
			<div>
				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</div>
		<div class="span center hero-unit">

<div class="span row">
				
					<h3>Founders: <small> Patrick Casey & Benjamin Burke </small></h3>
				
					<br>
				<div class="row">
					
						<div class="span3">
							<%= image_tag('patrick_founder_photo.jpg', size: "160x100") %>
						</div>
						<div class="span5">
							<h5>Patrick Casey, Saybrook College '15</h5>
							<p>I am an econ major and a rising senior in Saybrook College. I'm active in Saybrook College Council, the Senior Class Council, and the Yale Student Investment Group. As a regular traveler through Bradley, I've spent more than a few miserable hours waiting for the bus. I hope that you'll try Bulldog Taxi to ride to Yale in comfort.</p>
						</div>
					
					
						<div class="span3">
							<%= image_tag('ben_founder_photo.jpg', size: "160x100") %>
						</div>
						<div class="span5">
							<h5>Ben Burke, Pierson College '15</h5>
							<p>I am a chemical engineering major and a rising senior in Pierson College. I'll let you fill in the rest! I am a chemical engineering major and a rising senior in Pierson College. I'll let you fill in the rest! I am a chemical engineering major and a rising senior in Pierson College. I'll let you fill in the rest!</p>
						</div>
					
				</div>
			</div>

			</div>
	</div>
</div>