<div class="container-fluid">
	<div class="row">
<div class="span center hero-unit">
	<h2>Bulldog Taxi <small>$50 Cab Ride from Bradley. Guaranteed.</small></h2>
	<h4> Don't worry about waiting for the bus or calling CT Limo's customer service line. Just land, collect your luggage, and stop by our airport stand to pick up your prepaid fare card.
Bulldog Taxi works by matching you with other Yale student travelers. We promise that you won't pay more than $50, and you'll never wait more than 30 minutes for a taxi. </h4>

	<h3>Founders: <small> Patrick Casey & Benjamin Burke </small></h3>
	<%= image_tag('founderphoto.jpg', size: "160x100", class:"pull-left") %>
</div>
<div class="span center">
	<h2><%= link_to "Create a Trip!", new_user_path, class: "btn btn-large btn-primary" %></h2>
</div>
</div>
</div>