<div class="container-fluid">
	<div class="row">
		<div class="span center hero-unit">
			<h2>Bulldog Taxi <small>$50 Cab Ride from Bradley. Guaranteed.</small></h2>
			<h2><small> Dates of Operation: <b>August 20-24, 8am - 8pm</b>. We are there for you.</small></h2>
			<h4> Don't worry about waiting for the bus or calling CT Limo's customer service line. Just land, collect your luggage, and stop by our airport stand to pick up your prepaid fare card.
			Bulldog Taxi works by matching you with other Yale student travelers. We promise that you won't pay more than $50, and you'll never wait more than 30 minutes for a taxi.
			 </h4>

			<div class="row">
				<h2> Create a Trip! </h2>
					<% if @signedin && User.find_by(netid: session[:cas_user]).name != nil %>
						<%= link_to "Bradley to Yale!", new_trip_path, class: "btn btn-large btn-primary" %>
					<% else %>
						<%= link_to "Bradley to Yale!", new_user_path, class: "btn btn-large btn-primary" %>
					<% end %>
					<br><br><%= link_to "New York airports coming soon!", "#", class: "btn btn-secondary btn-large"%> 
			</div>

			

		</div>
	</div>
</div>