<div class="container-fluid">
	<div class="row">
		<div class="span center hero-unit">
			<h2>Bulldog Taxi</h2>
			<h4> Don't wait for the bus. Screw Connecticut Limo. Split a taxi from Bradley International Airport. Don't wait for the bus. Screw Connecticut Limo. Split a taxi from Bradley International AirportDon't wait for the bus. Screw Connecticut Limo. Split a taxi from Bradley International AirportDon't wait for the bus. Screw Connecticut Limo. Split a taxi from Bradley International AirportDon't wait for the bus. Screw Connecticut Limo. Split a taxi from Bradley International AirportDon't wait for the bus. Screw Connecticut Limo. Split a taxi from Bradley International Airport</h4>
		</div>
		<div class="span center">
			<h2><%= link_to "Create a Trip!", new_user_path, class: "btn btn-large btn-primary" %></h2>
		</div>
	</div>
</div>