<div class="container main-content left">
	<div class='span12 hero-unit' id="hacky">
		<h2> Policies Regarding Cancellations, Refunds, and Risk </h2>
		<h3> Cancelling a Trip <br>
			<small> To ensure that your cancellation is verified and accounted for, we request that you email <b>bulldogtaxirides@gmail.com</b> if you would like to cancel a reservation. We will respond within 24 hours, and the time-stamp of your email will serve as the official time that the cancellation request was received. <em> Please note, cancellations made within 48 hours of your flight's arrival time will be verified, but you will not be entitled to a refund for the trip cost.</em></small>
		</h3>
		<h3> Refunds <br>
			<small> Any cancellation recieved more than 48 hours in advance of the scheduled arrival-time of your flight will entitle you to a full refund for the trip from Bradley International Airport to Yale University. <em> Please note, no refund will be provided if a cancellation occurs within 48 hours of the scheduled flight arrival time. </em> We believe this policy is a positive step away from CT Limo's strict no refund policy.</small>
		</h3>
		<h3> Delayed Flights <br>
			<small> We will be as accomodating as possible to delayed customers. If you land within our operating hours, we will honor your reservation. <em> Please note that if your flight is delayed, you may have to wait a little longer than usual for us to match you with an appropriate number of other passengers. </em> If your flight does not land until after we have closed, you are entitled to a full refund, but you will have to find alternate means of getting to Yale. </small>
		</h3>
		<h3> Policies Regarding Wait Times <br>
			<small> We aim to get you to Yale as quickly, comfortably, and safely as possible. We anticipate the average wait time will be 30 minutes. We are so confident in our system that if you wait more than an hour, your ride will be half-priced. No questions asked. We built this system for students and we are doing everything we can to make traveling to Yale as seemless and enjoyable as possible. </small>
		</h3>
		<h3> Our Service and Assumption of Risk <br>
			<small> Bulldog Taxi does not own or operate the vehicles that will be used to transport you to Yale. Our service is designed to coordinate ride-sharing among students so that you can have the comfort and efficiency of a cab at a fraction of the cost. In booking a reservation with Bulldog Taxi, you agree to free Bulldog Taxi of any liability once you have found your taxi and begun your journey from the airport to Yale.</small>
		</h3>


	</div>
</div>