<div class="main-content container">
		<div class="hero-unit span12" >
			<h3> Users</h3>
			<% @users.each do |user| %>
				Net ID: <%= user.netid %> |
				Tokens: <%= user.tokens %> |
				<br><br>
			<% end %>
					
		</div>
		<div class="hero-unit span2" >
		<%= @users.count %>
		</div>
</div>