@import "bootstrap";

.cover {
	background-image: url('bdt_logo.jpg');
	-webkit-background-size: cover;
	min-height: 500px;
	background-size: cover;
	position: relative;
	padding: 0px;
}

.bottom {
	position: absolute;
	bottom: 0px;
	margin: 0px;
	width: 100%;

}

.edge {
	padding-right: 5%;

}

.hero-unit {
	margin-top: 10px;
	


}
.container {
	margin:0px;
}

body {
	background-image: url('background_pattern.png');
	-webkit-background-size: cover;
	background-size: cover;
}