@import "bootstrap";

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  padding-top: 9px;
  padding-left: 25px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.cover {
  background-image: image-url('bdt_logo2.jpg');
	-webkit-background-size: cover;
	min-height: 500px;
	background-size: cover;
	position: relative;
  font-size: 15px;
}

.bottom {
	position: absolute;
	bottom: 0px;
	margin: 0px;
  padding: 0px;
	width: 100%;

}

.edge {
	padding-right: 5%;
  color: white;

}

.hero-unit {
	margin-top: 10px;
  background-color:rgb(00, 66, 99);
  color:rgb(00, 66, 99) !important;
  background-image: image-url('background_pattern-1.png');
  border-style: solid;
  border-width: 12px;
  border-color: rgb(00, 66, 99);
  border-radius: 10px;
  opacity: .95;
  margin: auto;
}
.container {
	margin:0px;
  width: 100%;
}

.main-content {
  padding-top: 70px;
  padding-bottom:50px;
  margin:0px;
  width: 100%;
  text-align: center;
  background-image: image-url("beinecke-inner.jpg");
  background-size: cover;
}

body {
  color: rgb(00, 66, 99);
	-webkit-background-size: cover;
	background-size: cover;
  background-image: image-url('background_pattern-1.png');
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.stripe-button-el span {
  font-size: 1.3em !important;
  padding: 1em !important;
  min-height:70px !important;
}

#user_info {
  height: 550px;
  width: 500px;
  margin-right: 10px;
  h3 {font-size: 2vmin;}
  text-align: center;
}

#trip_history {
  overflow: scroll;
  height: 550px;
  max-width: 500px;
  margin-left: 10px;
  h3 {font-size: 2vmin;}
  text-align: center;
}
#receipt {
  overflow: scroll;
  height: 550px;
  max-width: 500px;
  margin-left: 10px;
  h3 {font-size: 2vmin;}
  text-align: center;
}
#next_steps {
  overflow: scroll;
  height: 550px;
  max-width: 500px;
  margin-left: 10px;
  h3 {font-size: 2vmin;}
  text-align: center;
}
#left {
  text-align: left !important;
}

footer {
  background-color: rgb(00, 66, 99);
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer ul {
  text-align: center;
  list-style: none;
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}


.hero_compress {
  padding-bottom: 5px;
}

#stripe_assurance {
  padding-top: 15px;
  font-size: 17px;
}

#trip_form_footer {
  padding-top: 5px;
  font-size: 10px;
}

.navbar-inner {
  background-image: none;
  background-color: rgb(00, 66, 99);
  border: 0px
}

.form-header{
 padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    }

